body{
    /*
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
    background-color: #daf5d6;
    */
    background-color: antiquewhite;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.TopSect{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size:4vh;
    margin-top: 70px;
}
*/

.container section{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    font-size:4vh;
    
}
/*
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.item_container{
    width: 30%;
    height: 170px;
    background: yellow;
    margin: 20px;
    padding: 20px;
    border: 5px solid red;
    box-sizing: border-box;
    font-size: 20px;
    
}
*/

.container{
   /*
    width: 100%;
    height: auto;
    float: left;
    */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 20px;
}

.item_container1 p{
   /*
    width: 33%;
    height: 150px;
    border: 2px solid red;
    margin: 5px;
    float: left;
    
    border: 3px solid blue;
    background-color: #9A9CE9;
    width: 520px;
    height: 170px;
    padding: 40px;
    margin: 20px 20px;
    float: left;
    box-sizing: border-box;
    */
    height: 200px;
    border: 2px solid blue;
    color:crimson;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding: 25px;
}
   

 
h2{
    
    background-color: grey;
}
.item_container2 p{
    
   /* 
    width: 33%;
    height: 150px;
    border: 2px solid red;
    margin: 5px;
    float: left;
    
    border: 3px solid blue;
    background-color: #9A9CE9;
    width: 520px;
    height: 170px;
    padding: 40px;
    margin: 20px 20px;
    float: left;
    box-sizing: border-box;
    */
    height: 200px;
    border: 2px solid blue;
    color:crimson;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding: 25px;
}
.item_container3 p{
    
   /*
    width: 33%;
    height: 150px;
    border: 2px solid red;
    margin: 5px;
    float: left;
    
    border: 3px solid blue;
    background-color: #9A9CE9;
    width: 520px;
    height: 170px;
    padding: 40px;
    margin: 20px 20px;
    float: left;
    box-sizing: border-box;
    */
    height: 200px;
    border: 2px solid blue;
    color:crimson;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    padding: 25px;
   
}
p{
    margin: 0;
    position: absolute;
   
    
}
/* 992px and up for desktop */
/* (min-device-width: 992px) and  */
@media screen and (min-device-width:992px) and (max-device-width: 1600px) {
    
    .item_container1 p{
       
        width: 25%;
        
    }
    .item_container2 p{
       
        width: 25%;
        
    }
    .item_container3 p{
        
        width: 25%;
    }
 }
 /* 768px and 991px for tablet */
 @media screen and (min-device-width: 768px) and (max-device-width: 991px){
    
    .item_container1 p{
        
        width: 40%;
        
    }
    .item_container2 p{
       
        width: 40%;
        
    }
    .item_container3 p{
        
        width: 80%;
        grid-template-rows: repeat(auto-fit,minmax(250px,1fr));
    }
 }
 @media screen and (min-device-width: 320px) and (max-device-width:767px) {
    /* For mobile phones: */
    
        
        .item_container1 p{
            
            width: 75%;
            
        }

        .item_container2 p{
            
            width: 75%;
            
        }
        .item_container3 p{
            
            width: 75%;
        }
    }
  
